// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.code--medium
    font-size: 17px

.code--small
    font-size: 12px

.black
    color: black

.transparent-grey
    background: rgba(128, 128, 128, 0.78)

.orion
    background-image: url('../images/orion.jpg')

.tito
    background-image: url('../images/tito.png')

.richard
    background-image: url('../images/richard.jpg')

.mrx
    background-image: url('../images/mrx.jpg')

.wolf
    background-image: url('../images/InsanityWolf.jpg')

.why
    background-image: url('../images/why.png')

.nobodycares
    background-image: url('../images/nobodycares.png')

.samefeel
    background-image: url('../images/samefeel.png')

.okay
    background-image: url('../images/okay.jpg')

.itssomething
    background-image: url('../images/itssomething.jpg')

.rafa
    background-image: url('../images/rafa.jpg')

.realize
    background-image: url('../images/realize.jpg')

.somuchwinning
    background-image: url('../images/somuchwinning.jpg')

.modelhomer
    background-image: url('../images/modelhomer.jpg')

.openhead
    background-image: url('../images/openhead.jpg')

.gracias
    background-image: url('../images/gracias.jpg')

.thinking
    background-image: url('../images/thinking.png')

.huevo
    background-image: url('../images/huevo2.png')

.oportunidad
    background-image: url('../images/oportunidad.jpg')

.mejorar
    background-image: url('../images/mejorar.jpg')

.pasantes
    background-image: url('../images/pasantes.jpg')

.porqueyo
    background-image: url('../images/porqueyo.jpg')

.brain
    background-image: url('../images/brain.jpg')

.remote-working
    background-image: url('../images/remote_working.jpg')

.yoda
    background-image: url('../images/yoda.jpg')

.ghost
    background-image: url('../images/ghost.png')

.yapa
    background-image: url('../images/yapa.jpg')

.forgothowtohorse
    background-image: url('../images/forgothowtohorse.jpg')

.hippo-interested
  background-image: url('../images/hippo-interested.jpg')

.noespacualquiera
  background-image: url('../images/noespacualquiera.jpg')

.squirrelcorn
  background-image: url('../images/squirrelcorn.jpg')

.ned-flanders-card
  background-image: url('../images/ned-flanders.jpg')

.bitcoin
  background-image: url('../images/bitcoin.jpg')

.pug-cookie
  background-image: url('../images/pugcookie.jpg')

.gif
    -webkit-background-size: contain
    -moz-background-size: contain
    background-size: contain
    background-position: center
    background-repeat: no-repeat

.gif--fight
    background-image: url(../images/gif/fight.gif)

.gif--nerd
    background-image: url(../images/gif/nerd.gif)

.gif--dumbhorse
    background-image: url(../images/gif/dumbhorse.gif)

.gif--rafa
    background-image: url(../images/gif/rafa.gif)

.gif--bubbles
    background-image: url(../images/gif/bubble.gif)

.gif--minions
    background-image: url(../images/gif/minions.gif)

.gif--noidea
    background-image: url(../images/gif/noidea.gif)

.gif--aprender
    background-image: url(../images/gif/aprender.gif)

.gif--omgcw
    background-image: url(../images/gif/omgcw.gif)

.gif--internet
    background-image: url(../images/gif/internet.gif)

.gif--no-pants
    background-image: url(../images/gif/no-pants.gif)

.gif--money-fight
    background-image: url(../images/gif/money-fight.gif)

.gif--bump
    background-image: url(../images/gif/bump.gif)

.gif--hamster
    background-image: url(../images/gif/hamster.gif)

.gif--oportunity
    background-image: url(../images/gif/oportunity.gif)

.gif--duh
    background-image: url(../images/gif/duh.gif)

.gif--surprised
    background-image: url(../images/gif/surprised.gif)

.gif--focus
    background-image: url(../images/gif/focus.gif)

.gif--jumpfail
    background-image: url(../images/gif/jumpfail.gif)

.gif--itsfree
    background-image: url(../images/gif/itsfree.gif)

.gif--armadillo
    background-image: url(../images/gif/armadillo.gif)

.gif--catpushcat
    background-image: url(../images/gif/catpushcat.gif)

.gif--uhhh
    background-image: url(../images/gif/uhhh.gif)
