doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Globalizacion

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section(class='gif gif--internet')
				h1 Globalización

			section
				h2 TODO: PRESENTACION

			section(data-bespoke-backdrop='porqueyo')
				h2 ¿Qué hago yo aca?

			section(class='gif gif--omgcw')

			section(class='gif gif--bump')
				h2 Internet
				h3 Un mundo sin fronteras

			section(data-bespoke-backdrop='remote-working')
				h1 Trabajo remoto

			section(class='gif gif--no-pants')
				h2 Comodidad
				h3 Nunca "vas" al trabajo

			section(class='gif gif--hamster')
				h2 Movilidad
				h3 Trabajar desde cualquier parte del mundo

			section(class='gif gif--oportunity')
				h2 Oportunidades
				h3 La oferta de trabajo es muy amplia

			section(class='gif gif--money-fight')
				h2 Muuuuucha plata
				h3 Sueldos internacionales en dolares

			section(data-bespoke-backdrop='brain')
				h2 Solo aplica a ciertos trabajos
				h3
					ul
						li Creativo o intelectual
						li Calificado
						li Trabajo cuyo producto se distribuye por internet

			section
				h2 Ejemplos de trabajo remoto
				h3
					ul
						li Desarrollo de software
						li Diseño grafico
						li Educación

			section(class='gif gif--duh')
				h2 ¿Cómo buscar trabajo remoto?
				h3 Por internet :P

			section(class='gif gif--surprised')
				h2 Para el 2020, el 50% del trabajo será remoto
				h3 London Business School

			section
				h1 Educación remota

			section
				h2 Cursos cortos
				h3 Entre 1 y 6 meses en general

			section
				h2 Nivel internacional
				h3 Referentes en cada campo

			section
				h2 No presencial
				h3 No hay horarios

			section
				h2 Material digital
				h3 Videos, libros digitalizados, presentaciones, wikis

			section
				h2 Evaluaciones digitales

			section
				h2 La mayoria gratuitos

			section(data-bespoke-backdrop='gracias')

		script(src='build/build.js')
