doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Globalizacion

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(class='gif gif--internet')
        h1 Globalización

      section
        h2 TODO: PRESENTACION

      section(data-bespoke-backdrop='porqueyo')
        h2 ¿Qué hago yo aca?

      section(class='gif gif--omgcw')

      section(class='gif gif--bump')
        h2 Internet
        h3 Un mundo sin fronteras

      section(data-bespoke-backdrop='remote-working')
        h1 Trabajo remoto

      section(class='gif gif--no-pants')
        h2 Comodidad
        h3 Nunca "vas" al trabajo

      section
        h2 Movilidad
        h3 Trabajar desde cualquier parte del mundo

      section
        h2 Oportunidades
        h3 La oferta de trabajo es muy amplia

      section(class='gif gif--money-fight')
        h2 Muuuuucha plata
        h3 Sueldos internacionales en dolares

      section
        h2 Solo aplica a ciertas profesiones
        ul
          li Trabajo creativo o intelectual
          li Trabajo calificado
          li Trabajo cuyo producto se distribuye por internet

      section
        h2 Ejemplos de trabajo remoto
        ul
          li Desarrollo de software
          li Diseño grafico
          li Educación

      section
        h2 ¿Cómo buscar trabajo remoto?
        h3 Por internet :P

      section
        h2 TODO: ESTADISTICAS

      section
        h1 Educación remota

      section
        h2 Modalidad de enseñanza
        ul
          li Cursos cortos, universitarios
          li Nivel internacional
          li No presencial, sin horarios
          li A traves de videos
          li Material digital
          li Evaluaciones digitales
          li La mayoría gratuitos

      section(data-bespoke-backdrop='gracias')

    script(src='build/build.js')
