doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Globalizacion

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section(class='gif gif--internet')
				h1 Globalización

			section(data-bespoke-backdrop='forgothowtohorse')
				h3 Perooo, yo ¿qué tengo que ver?

			section(class='gif gif--omgcw')

			section(class='gif gif--jumpfail')
				h2 Internet
				h3 Un mundo sin fronteras

			section(data-bespoke-backdrop='remote-working')
				h1 Trabajo remoto

			section(class='gif gif--armadillo')
				h2 Comodidad
				h3 Nunca "vas" al trabajo

			section(class='gif gif--hamster')
				h2 Movilidad
				h3 Trabajar desde cualquier parte del mundo

			section(class='gif gif--catpushcat')
				h2 Oportunidades
				h3 La oferta de trabajo es muy amplia

			section(class='gif gif--money-fight')
				h2 Muuuuucha plata
				h3 Sueldos internacionales en dolares

			section(data-bespoke-backdrop='noespacualquiera')
				h2 No pa' cualquiera
				h3
					ul
						li Trabajo creativo o intelectual
						li Trabajo calificado
						li Trabajo cuyo producto se distribuye por internet

			section(data-bespoke-backdrop='hippo-interested')
				h2 Ejemplos de trabajo remoto
				h3
					ul
						li Desarrollo de software
						li Diseño grafico
						li Educación

			section(class='gif gif--duh')
				h2 ¿Cómo buscar trabajo remoto?
				h3 Por internet :P

			section(class='gif gif--surprised')
				h2 Para el 2020, el 50% del trabajo será remoto
				h3 London Business School

			section(data-bespoke-backdrop='yapa')
				h2 Visas para trabajar en el exterior

			section(class='gif gif--rafa')
				h1 Educación remota

			section(class='gif gif--focus')
				h2 Cursos especializados
				h3 Acotados y cortos

			section(data-bespoke-backdrop='yoda')
				h2 Nivel internacional
				h3 Referentes en cada campo

			section(data-bespoke-backdrop='ghost')
				h2 No presencial
				h3 No hay horarios

			section
				h2 Material digital
				h3 Videos, libros digitalizados, presentaciones, wikis

			section
				h2 Evaluaciones digitales

			section(class='gif gif--itsfree')

			section(data-bespoke-backdrop='squirrelcorn')
				h2 Ejemplos

			section(data-bespoke-backdrop='gracias')

		script(src='build/build.js')
